.benchmarkPage {
    background-color:#0b1623;
    overflow-x: hidden;
}

.benchmarkPage .scroll-reveal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 60px 0;
    margin: 0 auto;
    background-color: #0b1623;
}

.benchmarkPage .scroll-reveal > div {
    background-color: #000; /* Default background color if no image */
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the background image */
    height: 250px;
    width: 20%;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    opacity: 1; /* Ensure visibility */
}

.benchmarkPage .scroll-reveal > div:hover {
    background: rgba(179, 179, 179, 0.75);
    transform: scale(1.05);
}

.benchmarkPage .scroll-reveal > div.green {
    background: rgba(0, 255, 0, 0.25);
}

.benchmarkPage .scroll-reveal > div.red {
    background: rgba(255, 0, 0, 0.25);
}

.benchmarkPage .full-screen2 {
    width: 100%; /* Full width of the viewport */
    height: auto; /* Full height of the viewport */
    display: block;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-bottom: 80%;
}

.benchmarkPage .full-screen1 {
    width: 100%; /* Full width of the viewport */
    height: auto; /* Full height of the viewport */
    display: block;
    margin-top: -10px;
    margin-bottom: 80%;
}

.benchmarkPage * {
    box-sizing: border-box;
    background-color: #0b1623;
    display: block;
    
}

.benchmarkPage body {
    font-family: "Euclid Circular A", "Poppins";
    color: #0b1623;
    text-align: center;
    align-items: center;
}

.benchmarkPage .image-container {
    position: relative;
    width: 100vw; /* Full viewport width */
    margin: 0 auto; /* Centering the container */
    text-align: center; /* Center content horizontally */
}

.benchmarkPage .scroll-icon {
    position: absolute;
    left: 50%;
    bottom: 40px; /* Adjust as necessary */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10; /* Ensure it's above the image */
}

.benchmarkPage .scroll-icon2 {
    position: absolute;
    left: 50%;
    bottom: 100px; /* Adjust as necessary */
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 10; /* Ensure it's above the image */
}

.benchmarkPage .welcome-message {
    position: absolute;
    top:50%;
    left: 50%;
    margin: 0% 0% 0% 0% ;
    transform: translate(-50%, -50%);
    color:aqua;
    font-size: 1.5em; /* Default size */
    font-weight: 550;
    text-align: center; /* Align text to the center */
    z-index: 10;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
  }
  
  /* Smaller screens: adjust font size */
  @media (max-width: 600px) {
    .benchmarkPage .welcome-message {
        font-size: 1.5em;
    }
  }
  
  /* Larger screens: adjust font size */
  @media (min-width: 601px) {
    .benchmarkPage .welcome-message {
        font-size: 3em;
    }
  }
  
  /* Transition for the welcome message */
  .benchmarkPage .message-enter {
    opacity: 0;
  }
  
  .benchmarkPage .message-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  
  .benchmarkPage .message-exit {
    opacity: 1;
  }
  
  .benchmarkPage .message-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }


  .benchmarkPage .message-line {
    margin-top: 0.0em;   /* Reduces the space above each line */
    margin-bottom: 0.0em; /* Reduces the space below each line */
}

.benchmarkPage .welcome-icons {
    padding-bottom: 20px;
}

.benchmarkPage .next-button {
    border-radius: 4px;
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 40px;
    padding-right: 40px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: #c4c3ca;
    color: #111111;
    box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
    margin-top: 20px;
    position: center;
}

.benchmarkPage .next-button:active,
.benchmarkPage .next-button:focus {
    background-color: #111111;
    color: #c4c3ca;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
    align-items: center;
}

.benchmarkPage .next-button:hover {
    background-color: #111111;
    color: #c4c3ca;
    box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
    align-items: center;
}