@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

.homePage {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #020215;
  overflow-x: hidden;
  position: relative;
  /* Change from fixed to relative */
  width: 100vw;
  /* Full viewport width */
  height: 100vh;
  /* Full viewport height *
  /* Other styles remain the same */
}

.homePage home-body,
.homePage home-html {
  margin: 0px;
  padding: 0px;
  position: fixed;
  background: rgb(0, 0, 0);
  transition: opacity 0.5s ease-in-out;
  overflow-x: hidden;

}

.homePage home-#canvas {
  z-index: 1;
  /* Lower than the form overlay */
}



.homePage .loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  /* High z-index to ensure it's above other content */
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage .loaderOverlay.hidden {
  display: none;
}

.homePage .form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  /* Full viewport width */
  height: 100vh;
  /* Full viewport height */
  background-color: rgba(35, 35, 35, 0.5);
  /* Semi-transparent black background */
  z-index: 10;
  /* Higher than the canvas */
  display: flex;
  justify-content: center;
  align-items: center;
}

.homePage body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-color: #111111;
  overflow-x: hidden;
}

.homePage a {
  cursor: pointer;
  transition: all 200ms linear;
}

.homePage a:hover {
  text-decoration: none;
}

.homePage .link {
  color: #c4c3ca;
}

.homePage .link:hover {
  color: #ffeba7;
}

.homePage p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

.homePage h4 {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Remove or adjust margins and padding as needed */
  margin: 0;
  /* Example: removes default margin */
  width: 100%;
  /* If you want to span the full width of its container */
  font-size: x-large;
  padding-bottom: 30px;
  padding-top: 10px;
  color: #06c56d;
}

.homePage h6 span {
  padding: 20px 20px;
  text-transform: uppercase;
  font-weight: 700;
  justify-content: center;
  position: center;
  align-items: center;
  color: #06c56d;
}

.homePage h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Remove or adjust margins and padding as needed */
  margin: 0;
  /* Example: removes default margin */
  width: 100%;
  /* If you want to span the full width of its container */
  font-size: large;
  color: #06c56d;
}

.homePage .section.full-height {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* This ensures the container takes full viewport height */
}

/* Position and style the Lordicon icon */
.homePage label[for="reg-log"] lord-icon {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%) rotate(0deg);
  /* Initial position and rotation */
  transition: transform 0.5s ease;
  /* Transition for movement and rotation */
  width: 36px;
  /* Match the size of the circle */
  height: 36px;
  z-index: 25;
  /* Above the circle */
}

/* Animate the icon when checkbox is checked */
.homePage .checkbox:checked+label lord-icon {
  transform: translate(28px, -50%) rotate(180deg);
  /* Adjust translate values to match the sliding distance */
}

.homePage [type="checkbox"]:checked,
.homePage [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.homePage .checkbox:checked+label,
.homePage .checkbox:not(:checked)+label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #c4c3ca;

}

.homePage .checkbox:checked+label:before,
.homePage .checkbox:not(:checked)+label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #c4c3ca;
  background-color: #c4c3ca;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.homePage .checkbox:checked+label:before {
  transform: translateX(44px) rotate(-270deg);
}


.homePage .card-3d-wrap {
  position: center;
  width: 400px;
  /* Unchanged width */
  height: 400px;
  /* Unchanged height */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 1500px;
  margin: 50px auto;
  /* Increased margin for more space around */
  overflow: visible;
}

.homePage .card-3d-wrapper {
  position: absolute;
  top: 60px;
  bottom: 60px;
  width: 100%;
  /* Adjusted width */
  height: 100%;
  /* Increased height */
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin: auto;
  overflow: visible;
  /* Hide overflow */
  transition: all 600ms ease-out;
}

.homePage .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  overflow: hidden;
  background: transparent;
  /* Takes full height of its parent */
}

.homePage .card-front,
.homePage .card-back {
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 15px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden; 
  justify-content: center;
}

.homePage .card-back {
  transform: rotateY(180deg);
}

.homePage .checkbox:checked~.card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.homePage .center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Centers children horizontally */
}

.homePage label[for="reg-log-2"] lord-icon {
  position: center;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 43%;
  z-index: 20;
  display: block;
}

.homePage .form-section {
  width: 100%;
  text-align: center;
}

.homePage .form-group.mt-1 {
  position: relative;
  display: block;
  margin: 0;
  padding-bottom: 0%;
}

.homePage .form-group {
  /* other styles */
  width: 100%;
  /* Ensure full width */
  display: flex;
  justify-content: center;
  /* Center the form inputs and button */
}

.homePage .form-group.mt-2 {
  position: relative;
  display: block;
  margin: 0;
  padding-bottom: .5%;
}

.homePage .form-group.mt-3 {
  position: relative;
  display: block;
  margin: 0;
  padding-top: .5%;
}

.homePage .form-style {
  padding: 20px 20px;
  padding-left: 30px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.homePage .form-style:focus,
.homePage .form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.homePage .input-icon {
  position: center;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #c4c3ca;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

/* Additional styling for the icon and text section */
.homePage .icon-text-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homePage .form-group input:-ms-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.homePage .form-group input::-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.homePage .form-group input:-moz-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.homePage .form-group input::-webkit-input-placeholder {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.homePage .form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.homePage .form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.homePage .form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.homePage .form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.homePage .btn {

  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 20px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #c4c3ca;
  color: #111111;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
  margin-top: 20px;
  ;
  position: center;
}

.homePage .btn:active,
.homePage .btn:focus {
  background-color: #111111;
  color: #c4c3ca;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
  align-items: center;
}

.homePage .btn:hover {
  background-color: #111111;
  color: #c4c3ca;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
  align-items: center;
}

.homePage .logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.homePage .logo img {
  height: 26px;
  width: auto;
  display: block;
}

.homePage .mb-0 .pb-3 {
  position: center;
  justify-content: center;
}

/* Add this to your HomePage.css */
.homePage .fade-enter {
  opacity: 0;
  z-index: 1;
}

.homePage .fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.homePage .fade-exit {
  opacity: 1;
}

.homePage .fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.homePage .welcome-message {
  position: fixed;
  top: 20%;
  /* Adjust as needed */
  left: 50%;
  transform: translate(-50%, -50%);
  color: #06c56d;
  /* Adjust color as needed */
  font-size: 1.5em;
  /* Adjust size as needed */
  z-index: 2;
  /* Ensure it's above other content */
  font-size: 3.3em;
  font-weight: 900;
}

/* Transition for the welcome message */
.homePage .message-enter {
  opacity: 0;
}

.homePage .message-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.homePage .message-exit {
  opacity: 1;
}

.homePage .message-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.homePage .form-enter {
  opacity: 0;
  transform: scale(0.9);
}

.homePage .form-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.homePage .form-exit {
  opacity: 1;
}

.homePage .form-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.homePage .wrapper {
  position: fixed;
  /* Use fixed position */
  top: 50%;
  /* Center vertically */
  left: 50%;
  /* Center horizontally */
  transform: translate(-50%, -50%);
  /* Adjust to exactly center the div */
  z-index: 80;
  /* Make sure it's above other elements */
  text-align: center;
  /* Align button text to center */
}

.homePage .confetti-button {
  font-size: 1.75rem;
  /* Increase the font size */
  color: #c4c3ca;
  padding: 1em 2em;
  /* Increase padding for a larger button */
  border: none;
  border-radius: 10px;
  /* Adjust border-radius as needed */
  background: linear-gradient(45deg, #b300ff, #00ffb3);
  /* Gradient background */
  cursor: pointer;
  transition: transform 150ms ease-in;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Optional: Add shadow for better visibility */
}

.homePage .confetti-button:hover {
  transform: scale(1.15);
  /* Slight increase on hover for a nice effect */
}

.homePage .wrapper canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
  pointer-events: none;
  z-index: 1000;
}

.homePage * {
  box-sizing: border-box;
}

.homePage .page {
  display: grid;
  place-items: center;
  margin: 0;
  background: #000000;
  font-family: "Euclid Circular A", "Poppins";
  color: #fdfdfd;
}

.homePage .login-form input.control::placeholder {
  color: #9f9d9e;
}

.homePage .control {
  outline: none;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  color: inherit;
  background: #181919;
  border: 0;
  border-radius: 6px;
  margin: 8px 0;
  font-family: inherit;
  font-size: 18px;
  transition: 0.4s;
}

.homePage button.control {
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 0 16px;
  background: #0079ea;
  text-align: center;
  justify-content: center;
}

.homePage .btn mt-4 {
  justify-content: center;
}

.homePage .bars {
  margin: 0px 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 0px;
  height: 4px;
  border-radius: 1px;
  background: #181919;
}

.homePage .bars div {
  height: 5px;
  border-radius: 3px;
  transition: 0.4s;
  width: 0%;
}

.homePage .bars.weak div {
  background: #e24c71;
  width: 33.33%;
}

.homePage .bars.medium div {
  background: #f39845;
  width: 66.66%;
}

.homePage .bars.strong div {
  background: #57c558;
  width: 100%;
}

.homePage .strength {
  text-align: left;
  height: 5px;
  text-transform: capitalize;
  color: #f9d9eb94;
  font-weight: 400;
  font-size: smaller;
  padding-bottom: 0%;
}