.back-to-top {
  position: fixed;
  bottom: 20px;
  right: -100px; /* Start off-screen */
  background-color: #9a9a9a40;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 6.5px;
  border-radius: 100%;
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: right 3.0s ease-out, opacity 1.0s ease-out;
}

.back-to-top.visible {
  right: 20px; /* Position to be visible */
  opacity: 1;
  transition: right 3.0s ease-out, opacity 1.0s ease-out;
}

